.underline{
    text-decoration: underline;
}
.wavy{
    text-decoration: underline wavy;
}
.strike{
    text-decoration: line-through;
}
.blur{
    color:transparent;
    text-shadow: 0 0 24px #000;
}
.io:hover{
    color:blueviolet;
    text-decoration:underline double ;
    text-shadow: none;
}
.io{
    color:transparent;
    text-shadow: 0 0 24px #000;
}

